.lead {
  font-size: 24px; }

.dl-horizontal dt {
  float: left;
  width: 160px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
.dl-horizontal dd {
  margin-left: 180px; }

.container {
  width: 750px; }

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  float: left; }

.col-sm-1 {
  width: 8.33333%; }

.col-sm-2 {
  width: 16.66667%; }

.col-sm-3 {
  width: 25%; }

.col-sm-4 {
  width: 33.33333%; }

.col-sm-5 {
  width: 41.66667%; }

.col-sm-6 {
  width: 50%; }

.col-sm-7 {
  width: 58.33333%; }

.col-sm-8 {
  width: 66.66667%; }

.col-sm-9 {
  width: 75%; }

.col-sm-10 {
  width: 83.33333%; }

.col-sm-11 {
  width: 91.66667%; }

.col-sm-12 {
  width: 100%; }

.col-sm-pull-0 {
  right: auto; }

.col-sm-pull-1 {
  right: 8.33333%; }

.col-sm-pull-2 {
  right: 16.66667%; }

.col-sm-pull-3 {
  right: 25%; }

.col-sm-pull-4 {
  right: 33.33333%; }

.col-sm-pull-5 {
  right: 41.66667%; }

.col-sm-pull-6 {
  right: 50%; }

.col-sm-pull-7 {
  right: 58.33333%; }

.col-sm-pull-8 {
  right: 66.66667%; }

.col-sm-pull-9 {
  right: 75%; }

.col-sm-pull-10 {
  right: 83.33333%; }

.col-sm-pull-11 {
  right: 91.66667%; }

.col-sm-pull-12 {
  right: 100%; }

.col-sm-push-0 {
  left: auto; }

.col-sm-push-1 {
  left: 8.33333%; }

.col-sm-push-2 {
  left: 16.66667%; }

.col-sm-push-3 {
  left: 25%; }

.col-sm-push-4 {
  left: 33.33333%; }

.col-sm-push-5 {
  left: 41.66667%; }

.col-sm-push-6 {
  left: 50%; }

.col-sm-push-7 {
  left: 58.33333%; }

.col-sm-push-8 {
  left: 66.66667%; }

.col-sm-push-9 {
  left: 75%; }

.col-sm-push-10 {
  left: 83.33333%; }

.col-sm-push-11 {
  left: 91.66667%; }

.col-sm-push-12 {
  left: 100%; }

.col-sm-offset-0 {
  margin-left: 0%; }

.col-sm-offset-1 {
  margin-left: 8.33333%; }

.col-sm-offset-2 {
  margin-left: 16.66667%; }

.col-sm-offset-3 {
  margin-left: 25%; }

.col-sm-offset-4 {
  margin-left: 33.33333%; }

.col-sm-offset-5 {
  margin-left: 41.66667%; }

.col-sm-offset-6 {
  margin-left: 50%; }

.col-sm-offset-7 {
  margin-left: 58.33333%; }

.col-sm-offset-8 {
  margin-left: 66.66667%; }

.col-sm-offset-9 {
  margin-left: 75%; }

.col-sm-offset-10 {
  margin-left: 83.33333%; }

.col-sm-offset-11 {
  margin-left: 91.66667%; }

.col-sm-offset-12 {
  margin-left: 100%; }

.navbar-right .dropdown-menu {
  right: 0;
  left: auto; }
.navbar-right .dropdown-menu-left {
  left: 0;
  right: auto; }

.nav-justified > li {
  display: table-cell;
  width: 1%; }
  .nav-justified > li > a {
    margin-bottom: 0; }

.nav-tabs-justified > li > a {
  border-bottom: 1px solid #ddd;
  border-radius: 4px 4px 0 0; }
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
  border-bottom-color: #fff; }

.navbar {
  border-radius: 4px; }

.navbar-header {
  float: left; }

.navbar-collapse {
  width: auto;
  border-top: 0;
  box-shadow: none; }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important; }
  .navbar-collapse.in {
    overflow-y: visible; }
  .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0; }

.container > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-header,
.container-fluid > .navbar-collapse {
  margin-right: 0;
  margin-left: 0; }

.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0; }

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: -15px; }

.navbar-toggle {
  display: none; }

.navbar-nav {
  float: left;
  margin: 0; }
  .navbar-nav > li {
    float: left; }
    .navbar-nav > li > a {
      padding-top: 19px;
      padding-bottom: 19px; }
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px; }

.navbar-left {
  float: left !important; }

.navbar-right {
  float: right !important; }

.navbar-form {
  width: auto;
  border: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .navbar-form.navbar-right:last-child {
    margin-right: -15px; }

.navbar-text {
  float: left;
  margin-left: 15px;
  margin-right: 15px; }
  .navbar-text.navbar-right:last-child {
    margin-right: 0; }

@media screen {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px; }
    .container .jumbotron {
      padding-left: 60px;
      padding-right: 60px; }
    .jumbotron h1,
    .jumbotron .h1 {
      font-size: 72px; } }
.modal-dialog {
  width: 600px;
  margin: 30px auto; }

.modal-content {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }

.modal-sm {
  width: 300px; }

@media only screen {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px; }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -15px; }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -15px; }

  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px; }

  .carousel-indicators {
    bottom: 20px; } }
@media (max-width: 991px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; }

  .visible-sm-block {
    display: block !important; }

  .visible-sm-inline {
    display: inline !important; }

  .visible-sm-inline-block {
    display: inline-block !important; }

  .hidden-sm {
    display: none !important; } }
p {
  font-size: 1em; }

.teal_back {
  margin-top: -150px; }

.solid_color_back h1 {
  font-size: 1.5em;
  margin-top: 11%; }

.solid_color_back p {
  font-size: 1em; }

.grid a {
  width: auto;
  margin-left: 10% !important;
  margin-bottom: 30px !important; }

.grad_background {
  min-height: 1050px; }

h2.heading_hidden_large {
  display: none; }

.solid_color_back h1.sub {
  margin-top: 9%; }

.imls-content section .inner-container .circle-btn {
  margin-left: auto;
  margin-right: auto; }
.imls-content section .inner-container .home-section-col .downloads a.fa-file-pdf-o, .imls-content section .inner-container .home-section-col .downloads a.fa-file-word-o {
  font-size: 25px; }
.imls-content section .inner-container .home-section-col .downloads a.fa-file-pdf-o {
  margin: 0 10px 0 0; }

.search input {
  width: 127px; }

.navbar-nav.navbar-right:last-child {
  margin-right: 0px; }

/*# sourceMappingURL=small.css.map */
