.table-responsive {
  width: 100%;
  margin-bottom: 16.5px;
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
  -webkit-overflow-scrolling: touch; }
  .table-responsive > .table {
    margin-bottom: 0; }
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > tfoot > tr > td {
      white-space: nowrap; }
  .table-responsive > .table-bordered {
    border: 0; }
    .table-responsive > .table-bordered > thead > tr > th:first-child,
    .table-responsive > .table-bordered > thead > tr > td:first-child,
    .table-responsive > .table-bordered > tbody > tr > th:first-child,
    .table-responsive > .table-bordered > tbody > tr > td:first-child,
    .table-responsive > .table-bordered > tfoot > tr > th:first-child,
    .table-responsive > .table-bordered > tfoot > tr > td:first-child {
      border-left: 0; }
    .table-responsive > .table-bordered > thead > tr > th:last-child,
    .table-responsive > .table-bordered > thead > tr > td:last-child,
    .table-responsive > .table-bordered > tbody > tr > th:last-child,
    .table-responsive > .table-bordered > tbody > tr > td:last-child,
    .table-responsive > .table-bordered > tfoot > tr > th:last-child,
    .table-responsive > .table-bordered > tfoot > tr > td:last-child {
      border-right: 0; }
    .table-responsive > .table-bordered > tbody > tr:last-child > th,
    .table-responsive > .table-bordered > tbody > tr:last-child > td,
    .table-responsive > .table-bordered > tfoot > tr:last-child > th,
    .table-responsive > .table-bordered > tfoot > tr:last-child > td {
      border-bottom: 0; }

.visible-xs {
  display: block !important; }

table.visible-xs {
  display: table; }

tr.visible-xs {
  display: table-row !important; }

th.visible-xs,
td.visible-xs {
  display: table-cell !important; }

.visible-xs-block {
  display: block !important; }

.visible-xs-inline {
  display: inline !important; }

.visible-xs-inline-block {
  display: inline-block !important; }

.hidden-xs {
  display: none !important; }

h2.video_heading_single_row {
  min-height: 110px; }

h2.sub_activities_heading.second {
  display: none; }

h2.heading_hidden_large {
  display: block;
  text-align: center;
  color: #fff;
  padding-bottom: 3%;
  padding-top: 30px;
  padding-bottom: 30px; }

.pos_teal_content {
  padding-bottom: 20%; }

.solid_color_back h1 {
  font-size: 1.2em;
  margin-top: 15%; }

.solid_color_back p {
  font-size: 1em; }

.grid {
  max-width: none; }

.button_login {
  width: 72px; }

.grad_background {
  min-height: 1000px; }

.xsmall_adjust {
  margin-top: 5%; }

@media (max-width: 560px) {
  .col-xxs-12 {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }

  .grid a {
    float: none; }

  .grid figcaption p {
    font-size: 1.6em; }

  .grid figcaption h2 {
    font-size: 260%; }

  .solid_color_back h1 {
    margin-top: 22%; }

  .row .activities_home {
    margin-bottom: 20% !important; }
  .row .activities_home:nth-child(odd) {
    margin: auto; }

  .teal_back {
    margin-top: -27%; }

  .grid figure button {
    border: none;
    font-size: 2.2em; }

  .solid_color_back h1.sub {
    margin-top: 15%; } }
@media (max-width: 480px) {
  h2 {
    font-size: 19px; }

  .xsmall_adjust {
    margin-top: 5%; }

  header_img {
    margin-top: 8%; }

  .grid figcaption h2 {
    font-size: 150%; }

  .grid figcaption p {
    font-size: 1em;
    color: #000; }

  .row .activities_home {
    margin-bottom: 20% !important; }

  .pos_teal_content {
    margin-top: auto; }

  .solid_color_back h1 {
    margin-top: 28%; }

  .teal_back.adjust_background_long_content {
    margin-top: -38% !important; }

  .pos_teal_content {
    padding-bottom: 38%; }

  .solid_color_back h1 {
    font-size: 1.1em; } }
@media (max-width: 400px) {
  .solid_color_back h1.sub {
    margin-top: 22%; }

  .solid_color_back h1 {
    margin-top: 42%; }

  h2.sub_activities_heading {
    margin-bottom: 9%; } }
.imls-header .header-nav-wrapper {
  margin: 20px 0 0 0; }
  .imls-header .header-nav-wrapper nav.header-nav ul {
    float: none; }
    .imls-header .header-nav-wrapper nav.header-nav ul li {
      display: block;
      width: 100%; }
      .imls-header .header-nav-wrapper nav.header-nav ul li a {
        padding: 10px 0;
        width: 100%; }

.place_logo {
  margin-top: 11%;
  margin-left: 8%;
  position: absolute;
  width: 45%; }

@media (max-width: 400px) {
  .place_logo {
    margin-top: 15%; } }
.imls-content {
  top: -12px; }
  .imls-content section .inner-container {
    padding: 20px 10px;
    width: 100%; }
    .imls-content section .inner-container h1 {
      font-size: 20px; }
    .imls-content section .inner-container h2 {
      font-size: 16px; }
    .imls-content section .inner-container .row {
      margin-bottom: 20px; }
    .imls-content section .inner-container .leaf-btn-shadow {
      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
      -o-transform: scale(0.8);
      transform: scale(0.8);
      position: relative;
      top: 20px;
      left: -20px;
      min-width: 265px; }
      .imls-content section .inner-container .leaf-btn-shadow .leaf-btn-text {
        line-height: 20px;
        margin-left: 50px;
        width: 80%; }
        .imls-content section .inner-container .leaf-btn-shadow .leaf-btn-text span.title {
          font-size: 16px; }
        .imls-content section .inner-container .leaf-btn-shadow .leaf-btn-text span.description {
          font-size: 14px; }
    .imls-content section .inner-container .circle-btn {
      -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
      -o-transform: scale(0.6);
      transform: scale(0.6);
      left: -36px;
      margin-left: auto;
      margin-right: auto; }
    .imls-content section .inner-container .home-section-col {
      margin: 20px 0 0 0; }
      .imls-content section .inner-container .home-section-col .downloads a.fa-file-pdf-o, .imls-content section .inner-container .home-section-col .downloads a.fa-file-word-o {
        font-size: 20px; }
      .imls-content section .inner-container .home-section-col .downloads a.fa-file-pdf-o {
        margin: 0 10px 0 0; }

.xs-center {
  text-align: center; }

.navbar-default li {
  background-color: #000; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: gray; }

img.doe-logo {
  top: -4px;
  left: 6px;
  margin: 4px; }

.search input {
  margin-left: 15px;
  margin-bottom: 15px; }

/*# sourceMappingURL=xsmall.css.map */
