.imls-footer {
    background-color: $footer-bg-color;
    bottom: 0;
    clear: both;
    color: $footer-text-color;
    display: block;
    font-size: 12px;
    font-weight: normal;
    width: 100%;
    padding: 30px 0;

    .lg-right {
        text-align: right;
    }

    img {
        padding: 10px;
    }

    .nav-footer {
        margin-top: 25px;

        a {
            color: $footer-text-color;
            text-decoration: none;
            padding: 0 15px 0 0;
            margin: 0;

            &:hover {
                color: white;
                background-color: transparent;
            }
        }
    }

    .footer-container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 50px 0;
        width: 50%;

        a {
            color: white;
            text-decoration: none;

            &:hover {
                color: white;
            }

            img {
                display: inline-block;
                width: 50px;
            }
        }

        ul {
            display: block;
            list-style: none;

            li {
                display: inline;
                padding: 0 20px;
                text-align: center;

                &:first-child {
                    display: block;
                    margin-bottom: 20px;
                    text-align: left;
                }
            }
        }
    }
}
