.imls-header {
    .header-nav-wrapper {
        margin: 20px 0 0 0;

        nav.header-nav {
            button {
                span {}
            }

            ul {
                float: none;

                li {
                    display: block;
                    width: 100%;

                    a {
                        padding: 10px 0;
                        width: 100%;

                        &:hover {}
                    }
                }
            }
        }
    }
}

.place_logo {
    margin-top: 11%;
    margin-left: 8%;
    position: absolute;
    width: 45%;
}

@media (max-width: 400px) {
    .place_logo {
        margin-top: 15%;
    }
}
