// REUSABLE LEAF BUTTON
h2.video_heading_single_row {
    min-height: 110px;
}

h2.sub_activities_heading.second {
    display: none;
}

h2.heading_hidden_large {
    display: block;
    text-align: center;
    color: #fff;
    padding-bottom: 3%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.pos_teal_content {
    padding-bottom: 20%;
}

.solid_color_back h1 {
    font-size: 1.2em;
    margin-top: 15%;
}

.solid_color_back p {
    font-size: 1em;
}

.grid {
    max-width: none;
}

.button_login {
    width: 72px;
}

.grad_background {
    min-height: 1000px;
}

.xsmall_adjust {
    margin-top: 5%;
}

@media (max-width: 560px) {
    .col-xxs-12 {
        width: 100%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .grid a {
        float: none;
    }

    .grid figcaption p {
        font-size: 1.6em;
    }

    .grid figcaption h2 {
        font-size: 260%;
    }

    .solid_color_back h1 {
        margin-top: 22%;
    }

    .row {
        .activities_home {
            margin-bottom: 20% !important;
        }

        .activities_home:nth-child(odd) {
            margin: auto;
        }
    }

    .teal_back {
        margin-top: -27%;
    }

    .grid figure {
        button {
            border: none;
            font-size: 2.2em;
        }
    }

    .solid_color_back {
        h1.sub {
            margin-top: 15%;
        }
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 19px;
    }

    .xsmall_adjust {
        margin-top: 5%;
    }

    header_img {
        margin-top: 8%;
    }

    .grid figcaption h2 {
        font-size: 150%;
    }

    .grid figcaption p {
        font-size: 1em;
        color: #000;
    }

    .row .activities_home {
        margin-bottom: 20% !important;
    }

    .pos_teal_content {
        margin-top: auto;
    }

    .solid_color_back h1 {
        margin-top: 28%;
    }

    .teal_back.adjust_background_long_content {
        margin-top: -38% !important;
    }

    .pos_teal_content {
        padding-bottom: 38%;
    }

    .solid_color_back h1 {
        font-size: 1.1em;
    }
}

@media (max-width: 400px) {
    .solid_color_back {
        h1.sub {
            margin-top: 22%;
        }
    }

    .solid_color_back {
        h1 {
            margin-top: 42%;
        }
    }

    h2.sub_activities_heading {
        margin-bottom: 9%;
    }
}
