// PLACE VARIABLES HERE IF YOU WISH. IT IS A GOOD PRACTICE TO DECLARE YOUR VARIABLES IN ONE PLACE. YOU DO NOT HAVE TO, BUT IT COULD MAKE THINGS EASIER FOR YOU.

//HEADER COLOR VARIABLES

$header-link-color: #fff;
$header-link-hover-color: #fff;
$nav-background-color: #353535;

//NAVIGATION COLOR VARIABLES

//CONTENT COLOR VARIABLES

$orange: #f7a244;
$white: #fff;
$turquoise: #00B0AD;
$content-text-color: #000;
$home-section-col-link-color: #1fa0e8;
$home-section-col-link-hover-color: $orange;
$pdf: #fa0000;
$doc: #0048c2;

//FOOTER COLOR VARIABLES

$footer-height: 155px;
$footer-border-color: #f7a244;
$footer-bg-color: #00B0AD;
$footer-text-color: $header-link-color;
$footer-link-color: $header-link-color;
$footer-link-hover-color: $header-link-hover-color;

// END VARIABLES

html, body {
    color: $content-text-color;
    font-size: 16px;
    height: 100%;
    min-height: 100vh;
}

h2.video_heading {
    min-height: 62px;
}

h2.video_heading_single_row {
    min-height: 84px;
}

p {
    font-size: 1.4em;
}

.vert_padding {
    padding: 20px 0px;
}

// OVERWRITE BOOTSTRAP ROW MARGINS

.row {
    /*margin-left: 0 !important;
    margin-right: 0 !important;*/
}

button {
    background-color: transparent;
    border: none;
}

//OVERWRITE BOOTSTRAP COL PADDING

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    /*  padding-left: 0px !important;
       padding-right: 0px !important;*/
}

h1.home {
    min-height: 30px;
}

h3 {
    padding-bottom: 30px;
}

.pos_teal_content {
    padding-bottom: 20%;
}

video {
    /* for fluid videos*/
    width: 100%    !important;
    height: auto   !important;
}

.btn {
    background-color: $orange;
    color: #fff;
}

.curved_background_cont {
    overflow-x: hidden;
}

.curved_background {
    background-color: #fff;
    overflow-x: hidden;
    width: 100%;
    height: 180px;
    position: relative;
}

.chall_placement {
    margin: 0 auto;
    display: block;
}

.curved_background:after {
    background-color: #00B0AD;
    content: "";
    width: 120%;
    height: 150px;
    position: absolute;
    margin-top: 1.7%;
    margin-left: -8%;
}

.curved_background:before {
    background-color: #fff;
    content: "";
    width: 117%;
    height: 126px;
    position: absolute;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 80%;
    margin-top: 1.4%;
    z-index: 30;
    content: "";
    margin-left: -4%;
}

.grid figure button {
    border: none;
    font-size: 1.6em;
}

.grid a {
    width: auto;
}

.grid figcaption p {
    font-size: .82em;
}

.grid figcaption {
    padding: inherit;
}

.grid figcaption h2 {
    color: $orange;
}

.row .activities_home:nth-child(odd) {
    margin: 30px 0 -30px 0;
}

.solid_color_back {
    h1 {
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 1%;
    }

    p {
        font-size: 1.2em;
        line-height: 140%;
        color: #000;
    }
}

.button_login {
    border: #C3C3C3 solid 1px;
    padding: 1px 10px;
    margin-top: -4px;
    background-color: #5D5A5A;
}

h2.activities_home {
    color: $turquoise;
    text-align: center;
    font-size: 2.5em;
}

.teal_back {
    margin-top: -115px;
    background: (url("../img/teal_fade.png") no-repeat center top,);
    width: 100%;
    background-size: 100% 100%;
    position: relative;
    z-index: 50;
}

.width_100 {
    width: 100%;
}

.grad_background {
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 6%, rgba(235, 250, 248, 1) 13%, rgba(210, 250, 245, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(6%, rgba(255, 255, 255, 1)), color-stop(13%, rgba(235, 250, 248, 1)), color-stop(100%, rgba(210, 250, 245, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 6%, rgba(235, 250, 248, 1) 13%, rgba(210, 250, 245, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 6%, rgba(235, 250, 248, 1) 13%, rgba(210, 250, 245, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 6%, rgba(235, 250, 248, 1) 13%, rgba(210, 250, 245, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 6%, rgba(235, 250, 248, 1) 13%, rgba(210, 250, 245, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d2faf5', GradientType=0 );
    min-height: 650px;
    padding: 3%;
}

#imls-wrap .grad_background.sub {
    padding: 0% 0% 10% 0%;
       /* background: #00B0AD !important; */
}

.video_container {
    padding-top: 2%;
}

.sub {
    
    
    a.activities_links
    
    {
    
    color:$turquoise;
        
    }
}


a.activities_links {
    float: left;
    clear: left;
    color: #fff;
    font-size: 1.3em;
    padding-bottom: 20px;
}

a.resources_links {
    float: left;
    clear: left;
    color: #000;
    font-size: 1.1em;
    padding-bottom: 15px;
}

// YOU CAN DECLARE REUSABLE CLASSES HERE

h1 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

// DEFINE TEXT ALIGNMENT

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

// DEFINE COLORS FOR BACKGROUNDS AND GLOBAL FONTS

.orange {
    color: $orange;
}

.white {
    color: $white;
}

.turquoise {
    color: $turquoise;
}

.orange-bg {
    background-color: $orange;
    background: url("../images/bk-wampum.png");
}

.white-bg {
    background-color: $white;
}

.turquoise-bg {
    background-color: $turquoise;
}

// REUSABLE LEAF BUTTON

@mixin leaf-btn {
    -moz-border-radius: 0px 50px 0px 50px;
    -webkit-border-radius: 0px 50px 0px 50px;
    background-color: $turquoise;
    border-radius: 0px 50px 0px 50px;
    border: 0px none $turquoise;
    color: $white !important;
    display: block;
    font-size: 30px;
    font-weight: bold;
    height: 100px;
    line-height: 100px;
    position: relative;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    width: 100%;
}

// REUSABLE CIRCLE BUTTON

@mixin circle-btn {
    background-color: $turquoise;
    border-radius: 50%;
    color: $white !important;
    display: block;
    font-size: 55px;
    font-weight: bold !important;
    height: 140px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none !important;
    width: 140px;

    &:before {
        -moz-box-shadow: 3px 3px 0px 0px rgba(1, 134, 128, 1);
        -webkit-box-shadow: 3px 3px 0px 0px rgba(1, 134, 128, 1);
        background-color: #7accc8;
        border-radius: 50%;
        box-shadow: 3px 3px 0px 0px rgba(1, 134, 128, 1);
        content: "";
        display: block;
        height: 86px;
        left: 27px;
        position: absolute;
        top: 27px;
        width: 86px;
        z-index: 1000;
    }

    &:after {
        -ms-transform: rotate(33deg);
        -webkit-transform: rotate(33deg);
        background-color: #000;
        border-bottom-left-radius: 27%;
        border-top-left-radius: 27%;
        content: "";
        height: 90px;
        left: 29px;
        opacity: 0.1;
        position: absolute;
        top: 49px;
        transform: rotate(33deg);
        width: 152px;
        z-index: 900;
    }

    span {
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1100;
    }
}

.solid_teal_background {
    /*background-color: $turquoise;*/
    min-height: 100px;
    width: 100%;
    padding: 5% 3% 5% 3%;
}

.pad-bottom {
    padding-bottom: 40px;
}

a.pdf_icon:before {
    background-image: url(../img/pdf_img24.png);
    background-repeat: no-repeat;
    content: '';
    display: block;
    bottom: 0;
    float: left;
    width: 31px;
    height: 25px;
    margin-right: 20px;
    margin-bottom: 10px;
}

h2.sub_activities_heading {
    display: inline-block;
    text-align: center;
    color: $turquoise;
    margin-bottom: 4%;
    margin-top: 4%;
    font-size: 28px;
}

h2.hidden_white {
    text-align: center;
    color: $turquoise;
    padding: 3%;
}

.video_single_row {
    margin: auto;
    margin-top: -60px;
    position: relative;
    padding-bottom: 56%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    max-width: 700px;
}

.videoholder.top_videos {
    padding-bottom: 64%;
}

h2.activity-video {
    padding-bottom: 40px;
}

.grid figcaption h2 {
    margin: 7px 0 20px 0;
}

.fancybox img {
    padding: 1%;
}

// generic transform
@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

// scale
@mixin scale($scale) {
    @include transform(scale($scale));
}



// STYLE THE MODAL ////

.modal-dialog {
    
    h3 {
        
        padding-bottom: 10px;
    } 
    
.full-width {
    display: block;
    width: 100%;
}    
.form-row {
    display: block;
    margin-bottom: 20px;
}    
    
}




