p {
    font-size: 1.4em;
}

.teal_back {
    line-height: 1.6em;
}

.aqua_content {
    margin-top: -51%;
}

.solid_color_back h1 {
    font-size: 2.0em;
}

.solid_color_back p {
    font-size: 1.4em;
}

.pos_teal_content {
    margin-top: 135px;
}

.grid figcaption h2 {
    margin: -30px 2px 9px 0;
    font-size: 1.1em;
}

.grid a {
    width: auto;
    margin-left: auto !important;
}

.grad_background {
    min-height: 650px;
}

.grid figcaption h2 {
    margin: 0px 2px 9px 0;
}

.grid figcaption p {
    font-size: .74em;
}

h1.home {
    min-height: 100px;
}

.video_single_rowm {
    padding-bottom: 57%;
}
