p {
    font-size: 1em;
}

.teal_back {
    margin-top: -150px;
}

.solid_color_back h1 {
    font-size: 1.5em;
    margin-top: 11%;
}

.solid_color_back p {
    font-size: 1em;
}

.grid a {
    width: auto;
    margin-left: 10% !important;
    margin-bottom: 30px !important;
}

.grad_background {
    min-height: 1050px;
}

h2.heading_hidden_large {
    display: none;
}

.solid_color_back {
    h1.sub {
        margin-top: 9%;
    }
}
