.aqua_content {
    margin-top: -46%;
}

.grid figcaption h2 {
    margin: 6px 0 20px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 130%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3;
}

.grid figcaption p {
    font-size: .82em;
}

p {
    font-size: 1.4em;
}

.video_single_row {
    padding-bottom: 37%;
    padding-top: 2%;
}
