.navbar-default li {
    background-color: #000;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: gray;
}

img.doe-logo {
    top: -4px;
    left: 6px;
    margin: 4px;
}

.search input {
    margin-left: 15px;
    margin-bottom: 15px;
}
