.navbar-default {
    background-color: $nav-background-color;
    border: none;
    padding-right: 2%;
}

.navbar-default
.navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: $nav-background-color;
    color: #D6D6D6;
}

img.doe-logo {
    height: 50px;
    width: 50px;
    position: relative;
    top: 6px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #FFFFFF;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: $nav-background-color;
}

.navbar-default .navbar-toggle {
    border-color: #797979;
}

.navbar-default .navbar-nav {
    li {
        a {
            color: #A9A5A5;
            text-transform: uppercase;
        }
    }
}

.dropdown-menu {
    li {
        a {
            text-transform: inherit !important;
        }
    }
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #D6D6D6;
    color: #333 !important;
}

.dropdown-menu {
    background-color: $nav-background-color;
    border: 0px solid;
}

.search input {
    margin-top: 15px;
    margin-left: 15px;
    background-color: #565656;
    border: 1px solid #c3c3c3;
}

.fa-search {
    color: #A09999;
}

.fa-home {
    padding-right: 7px;
}

.navbar-nav {
    margin-top: 2px;
}
